{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "rules": {
    "arrow-spacing": [1, {"before": true, "after": true}],
    "brace-style": [1, "1tbs"],
    "comma-dangle": 0,
    "curly": 2,
    "eqeqeq": [1, "smart"],
    "indent": [1, 2, {"SwitchCase": 1}],
    "keyword-spacing": [1, {"before": true, "after": true}],
    "guard-for-in": 1,
    "no-console": 1,
    "no-empty": 1,
    "max-len": [1, 80],
    "quotes": [1, "single", "avoid-escape"],
    "semi": [2, "always"],
    "space-before-blocks": [1, "always"],
    "spaced-comment": 1,
    "space-unary-ops": 1
  },
  "globals": {
    "atom": true
  }
}
